<form method="POST">
  ...
  <label for="Name">Name</label>
  <input
    value="<%=card.Name%>"
    type="text"
    class="form-control"
    id="Name"
    name="Name"
    placeholder="Enter Name"
  />
  <label for="Type">Type</label>
  <input
    value="<%=card.Type%>"
    type="text"
    class="form-control"
    id="Type"
    name="Type"
    placeholder="Enter Type"
  />
  <label for="Level">Level</label>
  <input
    value="<%=card.Level%>"
    type="number"
    class="form-control"
    id="Level"
    name="Level"
    placeholder="Enter Level"
  />
  <label for="Race">Race</label>
  <input
    value="<%=card.Race%>"
    type="text"
    class="form-control"
    id="Race"
    name="Race"
    placeholder="Enter Race"
  />
  <label for="Attribute">Attribute</label>
  <input
    value="<%=card.Attribute%>"
    type="text"
    class="form-control"
    id="Attribute"
    name="Attribute"
    placeholder="Enter Attribute"
  />
  <label for="ATK">ATK</label>
  <input
    value="<%=card.ATK%>"
    type="number"
    class="form-control"
    id="ATK"
    name="ATK"
    placeholder="Enter ATK"
  />
  <label for="DEF">DEF</label>
  <input
    value="<%=card.DEF%>"
    type="number"
    class="form-control"
    id="DEF"
    name="DEF"
    placeholder="Enter Def"
  />
  <label for="Collected">Collected</label>
  <select id="Collected" name="Collected">
    <option value="1">True</option>
    <option value="0">False</option>
  </select>
  <input
    type="submit"
    value="Submit"
  />
  

  ...
</form>
